[2018-10-27 14:38] offerm opened #1 "xud-simnet-check"
add checks.

[2018-10-27 14:38] offerm opened #2 "xud-simnet-install"
fix the errors from npm i

[2018-10-28 06:00] #1 closed

[2018-10-30 16:47] kilrau opened #3 "[lncli] rpc error"
[code]

[2018-10-30 16:48] kilrau opened #4 "Smaller Implementation Improvements"
michael1011 @michael1011 14:36
case "$OSTYPE" in
  solaris*) echo "SOLARIS" ;;
  darwin*)  echo "OSX" ;alias tac='tail -r';;
  linux*)   echo "LINUX" ;;
  bsd*)     echo "BSD" ;;
  msys*)    echo "WINDOWS" ;;
  *)        echo "unknown: $OSTYPE" ;;
esac
Is echoing the OSTYPE really needed? Printing a message if the setup is not compatible with the OS of the user (Windows) should be enough?

michael

[2018-10-30 16:52] kilrau opened #5 "xud needs an initial xud-simnet-stop and xud-simnet-start to work properly"
Followed guide step by step, but needs to stop and restart simnet environment after first `xud-simnet-start` for everything to work properly

[2018-10-30 19:43] offerm commented on #5
I have seen it too.
Looks like an issue with LTCD itself.

Do you suggest we dig into the reason and how to fix it or just change the installation process to include this restart step?
restart can be done automatically by the xud-simnet-channels script.

Let me know what you think.

[2018-10-30 19:45] kilrau commented on #5
just include the restart step in the script

[2018-10-31 12:16] kilrau opened #6 "More Automation"
After part
### Starting
You can start all components with
[code]
We can take over periodically (e.g. every 5s) checking for `"synced_to_chain”: true,`,
Print "Syncing XUD Simulation Network" while doing this, once that's true,
Print "Sync complete."
automatically `xud-simnet-channels`.
Print "Opening payment channels, this can take up to 10 minutes" once done
Print "Payment channels opened. Ready

[2018-10-31 12:23] kilrau opened #7 "Final: fully automated setup script"
As per https://hackmd.io/s/rye9uA6jX

missing
orders from trading bot
the trading bot was not yet fully deployed to the test servers. Main reason is unclear trading strategy and orders that does not make sense. In addition we should decide if we run it on all servers (may trade between them) or just on one of them. This is also relevant to “trading - understanding what is going on” section below.

[2018-10-31 15:11] kilrau commented on #7
Actually the more I think about it, I would leave the current guide's steps for illustration purposes and go for docker which automates as much as possible. @offerm

[2018-10-31 15:13] kilrau commented on #6
Actually the more I think about it, I would leave the current guide's steps for illustration purposes and go for docker which automates as much as possible. @offerm

[2018-11-01 19:50] offerm commented on #7
@kilrau too late.
Please run the install again and let me know what you think
updated:
https://hackmd.io/s/HknXXqln7

[2018-11-01 19:50] #7 closed, assigned to offerm

[2018-11-01 19:51] #6 closed

[2018-11-01 19:51] #5 closed

[2018-11-01 19:51] offerm commented on #4
Done!

[2018-11-01 19:51] #4 closed

[2018-11-01 19:52] offerm commented on #3
@moshe, I beleive that you had an old LND running on your system.

Scripts are now checking this.

Please try again with fresh install

Offer

[2018-11-01 19:52] #3 closed

[2018-11-01 19:52] offerm commented on #2
hiden now

[2018-11-02 08:09] erkarl commented on #2
`sudo apt install -y python` as an additional dependency should solve it.

[2018-11-02 08:34] offerm commented on #2
on mac:

[code]

on linux
[code]

but `npm i`
gives compile errors:
[code]

[2018-11-02 08:44] erkarl commented on #2
Python 2.7 should be installed by default on OSX. A clean ubuntu install doesn't have one, but looks like your environment has it installed.

The output for npm i looks correct. It's not failing the build, rather than showing deprecation warnings.

[2018-11-02 15:44] offerm commented on #2
@erkarl is there a reason not to close this?

What do you suggest as `missing`?

[2018-11-02 15:57] erkarl commented on #2
@offerm I'm getting the following output on a fresh ubuntu 18.04.1 server when installing xud:

[code]

I'd recommend we add `python2.7` as a dependency under the `pre-requisites` section of the guide.

[2018-11-03 12:01] moshababo opened #8 "btcd tls error"
[code]

[2018-11-03 12:02] moshababo opened #9 "ltcd runtime error"
[code]

[code]

[2018-11-03 13:10] offerm commented on #8
@moshababo I need the full log please. should not be long.
also output of `netstat -a -p tcp|grep LISTEN` before running install.

Also, after providing the full log, please run the start script again, this time with `bash -x xud-simnet-start'

[2018-11-03 13:14] offerm commented on #9
please add --debuglevel=trace  and try again.

Looks to me you have something on these ports already.

[2018-11-05 11:19] kilrau opened #10 "xud-simnet-upgrade script"
Following

lndbtc was not syncing (stuck at previous block height). `rm -rf`, `git clone` and new `xud-simnet-install` solved it.

[2018-11-05 11:47] kilrau commented on #10
this issue is about our official "instructions" on how to upgrade

[2018-11-05 14:16] kilrau opened #11 "Automatic "Ready!" Check"
As per https://github.com/ExchangeUnion/xud-wiki/pull/1#discussion_r230417456: automatic check and print result. Update https://github.com/ExchangeUnion/xud-wiki/pull/1.

[2018-11-05 19:30] kilrau commented on #2
done

[2018-11-07 06:40] offerm commented on #11
Done.

[2018-11-07 06:40] #11 closed

[2018-11-07 06:42] offerm commented on #10
@kilrau
I'm not sure about the need for an update script.

For now, I suggest to include a check in xud-simnet-start if xud is updated to the master branch and if not automatically pull and compile it before starting XUD.

All the other tools should be stable.

OK?

[2018-11-07 06:43] #9 closed

[2018-11-07 06:43] #8 closed

[2018-11-07 14:12] kilrau commented on #10
Sounds good!

[2018-11-13 15:52] offerm commented on #10
Done

[2018-11-13 15:52] #10 closed

[2018-11-16 16:40] kilrau opened #13 "Update failed"
[code]

[2018-11-16 20:58] offerm commented on #13
Closed by #12

[2018-11-16 20:58] #13 closed

[2018-12-04 12:04] kilrau opened #16 "xud-simnet-clean -> auto xud-simnet stop"
This can be automated:
[code]

[2018-12-07 11:43] kilrau opened #17 "xud-simnet-channels always different"
xud-simnet-1 on vm-1
[code]

xud-simnet-2 on vm-2
[code]

xud-simnet-1
[code]

xud-simnet-2
[code]

vm-1 and vm-2 are on the same host machine.

[2018-12-07 11:50] kilrau commented on #17
How it is: `xud-simnet-install` and also `xud-simnet-channels` create different channels to different peers every time. Never to all (see above)

How it should be: `xud-simnet-install` and also `xud-simnet-channels` always create channels to all connected peers (4 in the case above: xud1,2,3 & 2nd local instance)

[2018-12-07 11:56] kilrau opened #18 "restart alias"
combine `xud-simnet-stop` & `xud-simnet-start`

[2018-12-07 13:14] offerm commented on #17
xud-simnet-install does not create any channels.

xud-simnet-channels creates one BTC channel and one LTC channel. It
randomly select LNDBTC and LNDLTC belonding to test1,test2,test3 and
connect to them. this leads to the creating of LND channels.

Example:
Say you install a new node.   xud-simnet-channels selects (for example)
test2 for BTC channel and test3 for LTC channel. The script connects t

[2018-12-07 20:32] offerm commented on #18
Done.

added xud-simnet-restart script

[2018-12-07 20:32] #18 closed

[2018-12-07 20:40] offerm commented on #16
Done.

[2018-12-11 05:06] kilrau commented on #17
Not scalable in the long-term, but that's what we'd expect and want exchanges to do in the beginning to eliminate all sorts of routing errors. Just like the one we have right now. Please set up SIMNET to create channels to xud1,2 & 3 for now.

[2018-12-11 06:35] offerm commented on #17
Still see no reason for it.

See https://github.com/ExchangeUnion/xud/issues/745

[2018-12-11 07:13] kilrau commented on #17
agree to hold off on this

[2019-01-07 16:12] kilrau opened #19 "orders time out, kill cloud instance orders"
![image](https://user-images.githubusercontent.com/19181985/50778703-7cfc3600-1253-11e9-8d04-870dda7ae93c.png)

results in a very long loop of
[code]
until finally
[code]

Same with limit orders:
![image](https://user-images.githubusercontent.com/19181985/50778952-fd229b80-1253-11e9-98fb-96482828dfa5.png)

[2019-01-07 16:19] kilrau commented on #19
Just restarted the simnet, updated to the latest master. Now it's:
![image](https://user-images.githubusercontent.com/19181985/50779357-f2b4d180-1254-11e9-908c-389553455c56.png)

[2019-01-07 16:21] kilrau commented on #19
I deleted the xud.db yesterday to get around breaking db changes. That the reason?

[2019-01-07 16:38] kilrau commented on #19
Solved, missing BTC channel. https://github.com/ExchangeUnion/xud/issues/675 will catch this.

[2019-01-07 16:38] #19 closed

[2019-04-17 10:06] #17 closed

[2019-04-17 10:07] kilrau opened #25 "Automate channel opening and check for existing channels on xud-simnet-start"
I think we can include `xud-simnet-channels` into `xud-simnet-start` now. Basically additionally to checking for sync, also check if there is minimum one channel to a cloud node for each swap client. If not, open a channel for this particular one and block start til this is done. I always forget the channels command and sometimes the channel command succeeds to open one channel but not the other w

[2019-04-19 21:07] kilrau opened #26 "Simnet: Switch btcd to neutrino"

[2019-04-27 01:59] reliveyy commented on #26
Related to https://github.com/lightninglabs/neutrino/issues/142

[2019-04-27 10:24] kilrau commented on #25
@offerm pls close when done

[2019-06-06 04:56] reliveyy commented on #26
Related to https://github.com/ExchangeUnion/xud/issues/956

[2019-06-07 09:46] kilrau commented on #26
post-1.0.0

[2019-06-07 11:28] #25 closed

[2019-06-10 15:08] kilrau opened #28 "Raiden todo's"
- [x] deploy and use sha256 raiden contracts (test registering dai, test higher limits) @offerm
- [x] sha256 raiden @offerm
- [x] auto open raiden channel (direct channel) @michael1011 (https://github.com/ExchangeUnion/xud-tests/pull/7) to be tested and potentially fixed by @offerm

- [ ] add raiden channel check to `xud-simnet-start` script
- [x] on-demand mining for raiden channel opening and cl

[2019-06-10 17:03] kilrau opened #29 "ltcd install fails"
[code]

[2019-06-10 17:11] offerm commented on #29
Which go version are you using?

[2019-06-10 17:14] offerm commented on #29
Need 1.12
Will add validation

[2019-06-10 17:34] kilrau commented on #29
Great, pls close when done. Updated Updated https://github.com/ExchangeUnion/xud/wiki/SimNet-Guide.

[2019-06-10 17:36] kilrau opened #30 "raiden didn't start properly"
[code]

[raiden-debug_2019-06-10T17:27:23.310694.log](https://github.com/ExchangeUnion/xud-simnet/files/3273114/raiden-debug_2019-06-10T17.27.23.310694.log)
[raiden-debug_2019-06-10T17:31:54.993663.log](https://github.com/ExchangeUnion/xud-simnet/files/3273115/raiden-debug_2019-06-10T17.31.54.993663.log)

[2019-06-10 17:42] erkarl commented on #30
Can you check the output of `/tmp/raiden.log`?

[2019-06-10 19:45] kilrau commented on #30
Not much..
[raiden.log](https://github.com/ExchangeUnion/xud-simnet/files/3273522/raiden.log)

[2019-06-10 19:46] kilrau commented on #30
`~/xud-simnet/raiden-wd$ ps aux | grep raiden
kilrau   12097  0.0  0.0  21536  1096 pts/0    S+   21:44   0:00 grep --color=auto raiden
root     15182  0.2  0.1 350200 20840 ?        Sl   19:10   0:25 /opt/venv/bin/python3 -m raiden --address 0x4ecdfBF7263A84d3567C2559644Ae5BbB20A4bee --keystore-path /root/.ethereum/testnet/keystore --accept-disclaimer --eth-rpc-endpoint http://geth:8545 --network

[2019-06-11 07:59] kilrau commented on #30
Solved, there were 2 raiden instaces running and one took port 5001 so the other couldn't start properly

[2019-06-11 07:59] #30 closed

[2019-06-11 08:03] kilrau opened #31 "weth/btc swap failed (quantity too high?)"
t0:
[code]

t1:
[code]

t2:
[code]
[raiden-debug_2019-06-11T07:42:24.486536.log](https://github.com/ExchangeUnion/xud-simnet/files/3275342/raiden-debug_2019-06-11T07.42.24.486536.log)

[2019-06-11 09:50] #29 closed

[2019-06-11 12:14] kilrau commented on #31
Didn't have a raiden channel. Will be caught by https://github.com/ExchangeUnion/xud/issues/983 & https://github.com/ExchangeUnion/xud/issues/970

[2019-06-11 12:14] #31 closed

[2019-06-24 08:52] kilrau commented on #26
bump to P1 since we want this to fix the accidental fork on simnet

[2019-06-25 14:09] kilrau commented on #26
small nit: say when neutrino was cloned and installed
[code]
And started
[code]

[2019-06-25 15:06] kilrau commented on #26
done

[2019-06-25 15:06] #26 closed

[2019-06-26 05:49] offerm commented on #28
@michael1011 Here are some tips for raiden channel management:

1. Seperate the bot tasks into 3 different, separated, and unrelated tasks:
- channels opening
- channel balancing
- channels closing

2. if possible query xud for supported raiden currencies (I don't think there is a an RPC for this). If not, use config file. You need to know which tokens to use and the deposit amount for each token.

[2019-06-26 09:17] kilrau commented on #28
I believe you can use https://api.exchangeunion.com/#listcurrencies and just discard btc & ltc.

Good point, bot notifications are still in slack. Should all be switched to discord, @michael1011 has experience in doing this. I propose to have a `NOTIFICATIONS` channel section with channels for simnet, testnet, mainnet same as in the other project. We'll have some statistics & similar from xud inst

[2019-06-26 11:04] kilrau commented on #28
Looks like https://api.exchangeunion.com/#listcurrencies doesn't return everything we need (token address, digits). So I suggest to hardcode for now. Opened an issue to enhance the listcurrencies call, once that's done the raiden open channel bot can use it: https://github.com/ExchangeUnion/xud/issues/1067

[2019-06-26 12:55] kilrau commented on #28
Raiden bot needs to open direct channels from and to all 3 cloud nodes, to support direct channel check for raiden. Also simplifies things, since there is no need for raiden channels between the 3 cloud instances and rebalancing. See https://github.com/ExchangeUnion/xud/pull/1065#issuecomment-505861669.

[2019-06-26 18:16] offerm commented on #28
We need raiden nodes between the seed servers since the seed server may also swap between them. This will happend automatically once the bot knows how to deal with raiden channels.

To have the 3 nodes opening channels we somehow need to move WETH and DAI from test1 to test2 and test3. This can be added as a task in the list above (@kilrau )

[2019-06-26 18:31] michael1011 commented on #28
Why should we do that? Unless someone manually opens a channel the data structure should contain all data and by rebuilding it we could loose some channels that are pending during the cleanup process.

[2019-06-26 20:43] offerm commented on #28
To avoid the need to restart the bot if something went wrong.

On Wed, Jun 26, 2019 at 9:31 PM michael1011 <notifications@github.com>
wrote:

[2019-06-27 19:27] michael1011 commented on #28
@offerm in order to send the ETH I would like this API endpoint of geth: https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sendtransaction

Will this be possible on the seed nodes? Do the geth instances have the private keys of the addresses to which you send the mined coins?

[2019-06-27 19:53] offerm commented on #28
We have a single geth instance running in our simnet cluster. I see no
reason why you should not be able to sign a transaction and provide to geth
for execution.

geth don't have the private keys of the other nodes. Why should it have
them?

On Thu, Jun 27, 2019 at 10:27 PM michael1011 <notifications@github.com>
wrote:

[2019-06-28 12:59] michael1011 commented on #28
@offerm So if there is just a single geth instance in the cloud: does that instance have the private key for the address to which you send the mined coins? Can the [aforementioned API endpoint](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sendtransaction) be used on that instance in the cloud or do I have to sign the transactions with the geth golang library in order to send a transaction?

[2019-06-28 17:30] kilrau opened #32 "xud-simnet-start only checks if raiden was installed, it should check all"
Small thing for later.

I ran `xud-simnet-clean`, all folders gone:

[code]
Then
[code]
whereas it should be `The xud environment is not properly installed. Please run `xud-simnet-install`

[2019-06-29 16:19] offerm commented on #28
The geth instance don't the the private keys of the seed nodes and/or the remote nodes. It has the address (public key) of test1 that gets all the block rewards coins.
I believe that you need to sign the transaction locally before you send it to geth for execution. Only the local instance has access to the private key so it must be done locally.

Note that the geth instance mine ETH for test1.
tes

[2019-06-29 16:35] offerm commented on #32
Fixed. Raiden  is the last component being installed by xud-simnet-install. I see no reason to check anything beside it.
I changed the error message to be more generic. It was like that when raiden was added to an existing setup and reinstall took long time due to the chain size.

This can be close I believe @kilrau

[2019-06-30 09:53] kilrau commented on #28
Honestly, we can also just shutdown xud2 & 3..

[2019-06-30 10:18] #32 closed

[2019-06-30 10:46] kilrau commented on #28
Since everything depends on one miner and xud1 to distribute funds, xud2 & 3 don't make much sense after all. If it makes things easier - just go ahead and shut them down. @michael1011 @offerm

[2019-06-30 11:56] offerm commented on #28
No need to do that. Channels should be with test1 only.

On Sun, 30 Jun 2019 at 13:46 Kilian Rausch ⚡️ <notifications@github.com>
wrote:

[2019-06-30 20:12] kilrau commented on #28
Then https://github.com/ExchangeUnion/xud/pull/1065 direct channel check would need to be switched off for simnet. @michael1011

Reminder: we decided to go with config option, checks on by default, clear warnings on this restriction in setup (https://github.com/ExchangeUnion/xud/wiki/docker#beware)

[2019-07-03 10:34] kilrau opened #34 "No route found"
`simnet > buy 0.5 ltc/btc 0.0079`

[code]

[code]

[2019-07-03 10:40] kilrau commented on #34
Seems like `xud1` (`02b66438730d1fcdf4a4ae5d3d73e847a272f160fee2938e132b52cab0a0d9cfc6`) couldn't find an LTC route to me. `lndltc-lncli listchannels` shows, that I have an LTC channel with sufficient inbound capacity to xud2 (`0394b67ac4cb352536c5f7c21b901799f6f9fd01e15755004a58d095cc580f6407` is the lndltc pubkey of `xud2`. Ergo, something must be wrong with the channels between `xud1` and `xud2

[2019-07-04 17:29] kilrau commented on #34
Opened two missing channels on the cloud instances
[code]

[2019-07-04 17:32] kilrau commented on #34
But still:
[code]

xud.log shows a `SendPayment` Failure now:

[code]

[2019-07-04 17:53] kilrau commented on #34
Remote shows exactly the same `NoRoute` issue:
[code]

[2019-07-04 17:55] kilrau commented on #34
Note: I have both (btc & ltc) channels with xud3 (see above).

[2019-07-05 12:14] kilrau commented on #34
on top, one temporary looses all orders until they are added back a second later:
[code]

[2019-07-05 19:24] kilrau commented on #34
Still not good for me (native Simnet Setup):
[code]

[2019-07-06 14:16] kilrau commented on #34
Since xud1,2,3 all have btc & ltc channels with sufficient balance among each other and I have a btc channel with xud1 and a ltc channel with xud2, but still get above `NoRouteFound` error, I tested manual btc and ltc payments from and to all 3 instances. All without problems, see below. ERGO: the noroute issue is caused by `xud`. If I had to guess, it has something todo with our recent CLTV chang

[2019-07-06 14:18] kilrau commented on #34
Since xud1,2,3 all have btc & ltc channels with sufficient balance among each other and I have a btc channel with xud1 and a ltc channel with xud2, but still get above `NoRouteFound` error, I tested manual btc and ltc payments from and to all 3 instances. All without problems, see below. ERGO: the noroute issue is caused by `xud`. If I had to guess, it has something todo with our recent CLTV chang

[2019-07-08 09:04] kilrau commented on #34
Update: When opening direct ltc & btc channels with xud1 and swapping orders from xud1, no problems.

[2019-07-08 12:39] kilrau opened #35 "PeerDiscovery not working"
I noticed that since a long time, but only came around to test it properly today. Situation: I am running two xud nodes which are both connected to xud1,2,3 in simnet mode. Number 1 is reachable from the outer world and Number 2 should get connected to it automatically as a consequence. But doesn't.

### `xud` one:
* running local native simnet ./xud, connected to simnet xud1,2,3 (`"nodePubKey": "

[2019-07-08 17:00] kilrau commented on #34
Update: `NoRouteFound` solved by @offerm , but new `UnknownPaymentHash` error.

[2019-07-08 17:21] kilrau opened #36 "Change simnet node records + gcloud naming"
TODO:

- [ ] @kilrau Change aname records to
[code]
- [x] @offerm restart xud1,2,3 - and rename the instances on google cloud to the same
[code]
- [ ] @offerm change hardcoded xud simnet bootstrap nodes to the same

[2019-07-08 19:35] erkarl commented on #34
What was the issue?

[2019-07-09 06:28] offerm commented on #34
There are multiple issues behind this one.

The no routefound has to do with sendPayment that does not allow routing fee. As there is no direct channel a route that involves a fee cannot be used.

To overcome that and also place a cap for the fee I crated - https://github.com/ExchangeUnion/xud/pull/1086

Another problem is that some channels (Ltc) becomes disabled
[code]

This can also be on one s

[2019-07-09 14:32] sangaman commented on #34
I use `SendPayment` frequently and it pays minor fee amounts without issue, maybe the problem here is something else? Or could there be a huge fee involved as you mentioned on the call today?

[2019-07-11 09:44] kilrau commented on #34
Solved. Reason for the `UnknownPaymentHash` error not 100% clear. Probably as a result of a failure to send payment by the peer. If the the payment failed then the other side cancels the invoice
resulting in UnknownPaymentHash.

[2019-07-11 09:44] #34 closed

[2019-07-11 16:13] kilrau opened #37 "btcd/ltcd/geth - protect from external "longer chains""

[2019-07-17 14:43] erkarl opened #38 "Raiden process logs show exceptions when resolving a hash"
Maker:
[code]
maker-xud-log: https://paste.ubuntu.com/p/Tf6TD3gr5p/
maker-raiden-log: https://paste.ubuntu.com/p/FzspCPJVwB/

Taker:
[code]
taker-xud-log: https://paste.ubuntu.com/p/Pdxm5pChW8/
taker-raiden-log: https://paste.ubuntu.com/p/S4dQ7Z2yYr/

[2019-07-18 10:03] kilrau opened #39 "Raiden direct channels, then re-enable orders from test2+3"

[2019-07-18 10:03] kilrau opened #58 "Enable xud2+3"
1. Move WETH/DAI to xud2,3 (they are out of funds)
3. Test auto channel opening from 2,3 (it currently fails according to bot because out of funds)
2. Test orders from xud2+3

Currently orders involving raiden from xud2,3 are failing because the user doesn't have raiden channels with these.

[2019-07-18 17:22] kilrau opened #40 "every couple of (ltc/btc) swaps fail with `Unable to find route to destination`"
Native simnet setup.

What I did
[code]
Every now and then the order fails with `NoRouteFound`.

Log:
[code]

Then all ltc/btc orders disappear for some seconds, no log entries about that.

Then they come back:
[code]

and then swaps are working again. Same for other pairs, not only ltc/btc.

[2019-07-18 17:38] reliveyy commented on #40
[code]
![](https://cdn.discordapp.com/attachments/549559150028390412/601465769976659968/unknown.png)

And I tried again

[code]

![](https://cdn.discordapp.com/attachments/549559150028390412/601466076944924677/unknown.png)

[2019-07-19 08:02] kilrau opened #41 "lndltc syncing for ages (stuck with `"synced_to_chain": false,`)"
What I did with native setup:
1. fresh `xud-simnet-clean` and
2. `xud-simnet-install`

and lndltc is seemingly stuck syncing:

[code]

Problem is LND's known bug where it's stuck on `"synced_to_chain": false,` even though it's caught up, in my scenario above you can see the blockheights are equal:

[code]

### Proposal:

test lnd 0.7 which is supposed to fix some things here. If it's still happeni

[2019-07-19 08:09] kilrau opened #42 "lnd channel opening only triggered after >10 mins"
I've seen this on docker AND native setup: lndltc & lndbtc take several minutes until one can see a pending channel. Here on the native setup:

[code]

Here on docker:
[code]

Reason as can be seen above are the missing peers for lnd which only get connected after several minutes and trigger the channel opening.

[2019-07-19 08:19] kilrau opened #43 "exiting start script causes processes to be terminated"
When exiting the script e.g. in
[code]

All processes get killed (check `ps aux`). Exiting the script should never kill any processes like lnd, ltcd, raiden or xud. Only `xud-simnet-stop` should.

[2019-07-22 11:41] kilrau commented on #35
Reason is https://github.com/ExchangeUnion/xud-docker/issues/33.

[2019-07-22 11:41] #35 closed

[2019-07-22 12:33] #40 closed

[2019-07-22 12:38] kilrau commented on #42
Have seen this, also with lndltc, but there the reason seems to be a problem with ltcd and should be resolved by moving to litecoin core: https://github.com/ExchangeUnion/xud-docker/issues/91

I suggest that if successfully tested on docker, also the native simnet moves to litecoin core. Cloud instances don't have to change.

[2019-07-23 12:21] kilrau opened #44 "Set lnd `--chan-enable-timeout`"
10s as per https://github.com/ExchangeUnion/xud/issues/1112

[2019-07-26 09:28] offerm commented on #44
Done on Native setup. @kilrau

[2019-07-26 09:28] #44 closed

[2019-07-26 09:42] offerm commented on #36
@kilrau Not sure what you want me to do on GC. Should I just rename the instances?

https://stackoverflow.com/questions/27940480/rename-google-compute-engine-vm-instance

Rename should be done by recreate. Please confirm.

About the A records - please go ahead and add these A records (don't yet touch the old ones). Let me know once you are done.

[2019-07-26 10:16] offerm commented on #41
The `block_height` that you see on LND is not the number of blocks that LND processed. It means that LND is aware that there are `block_height` blocks and is now processing these blocks.

If we do that on docker, it can explain why we see the "engine is still syncing" error.

@kilrau have you seen this problem with native simnet using the latest code?

[2019-07-26 10:34] kilrau commented on #36
I renamed another instance by: shutting down, click on it, edit, rename, boot up. No problems. Let's not make it too complicated.

Done.
[code]

[2019-07-26 10:39] offerm commented on #36
@kilrau  Can you please remove the old A record for test2?

Will make some tests

[2019-07-26 11:13] offerm commented on #36
@kilrau
xud-simnet looks clean.

However

XUD code has this:
[code]

This should change before we change the A records.

@erkarl @sangaman - can you please create a PR?

[2019-07-26 13:55] offerm commented on #36
@kilrau I did the change as requested.

You can make the changes to A records even before xud code is fixed. The channel creation script takes care of it (at least on native simnet).

Once the change is done, let me know and I will check that the seed nodes are OK (if not, easy to fix).

[2019-07-30 09:13] kilrau commented on #41
Aware, but LND gets stuck there and never finishes processing and switches to `synced_to_chain=true`. Saw this on native SimNet at the time I opened the issue. If you fixed something on this I can test again. Let me know.

[2019-07-30 09:17] offerm commented on #41
In the past the wallet birthday was as the first block. This is the default
for dinner and testnet. This cause a very slow sync time. I changed it to
work like main net
Please try to reproduce

On Tue, 30 Jul 2019 at 12:13 Kilian Rausch ⚡️ <notifications@github.com>
wrote:

[2019-08-01 22:28] kilrau opened #45 "Upgrade lnd to 0.7.1"

[2019-08-05 15:47] kilrau commented on #36
Not sure why this didn't happen (I think we can be a bit more pragmatic with these kind of trivial changes), but I just opened this PR.

[2019-08-05 16:07] kilrau opened #46 "Add Raiden first leg orders to bot, test swaps"
After ExchangeUnion/xud#1082 is merged.

[2019-08-05 16:49] michael1011 commented on #46
Depends on https://github.com/ExchangeUnion/xud/pull/1082

[2019-08-06 08:49] #36 closed

[2019-08-06 09:43] kilrau commented on #41
Tested this again. Still the case. Can reproduce this reliably.

What makes lndltc switch to `synced_to_chain=true`:
`lndltc-lncli stop`
`xud-simnet-start`

Let's do https://github.com/ExchangeUnion/xud-simnet/issues/45 and see if the new lnd version fixes it.

[2019-08-06 09:48] kilrau commented on #36
Tested - working as intended. Kept the old `xud<X>.test.exchangeunion.com` A-Records for now. Will remove once docker is updated.

[2019-08-06 09:54] kilrau commented on #42
Reproduced this again today. What I did:
* `xud-simnet-clean`
* `xud-simnet-start`
* `lndbtc-lncli getinfo` shows `"synced_to_chain": true,`, but no peers in `listpeers`. xud1,2,3 peer only appears after 10+ minutes and triggers the channel opening.

[2019-08-06 10:16] kilrau opened #47 "Raiden crashes when running simnet for a while"
Saw this multiple times in my tests today: after running native simnet for a while (20,30 mins) raiden just stops:
* xud shows `"error": "connect ECONNREFUSED 127.0.0.1:5001",`
* `ps aux | grep raiden` shows no raiden process
* raiden log shows
[code]

as last lines. Here the full
[raiden-debug_2019-08-06T09:50:54.243948.log](https://github.com/ExchangeUnion/xud-simnet/files/3471616/raiden-debug_2

[2019-08-08 08:32] kilrau commented on #41
This is happening in 100% of the cases for me by now. Bumping up to P1.

[2019-08-12 09:07] kilrau commented on #46
done

[2019-08-12 09:07] #46 closed

[2019-08-14 12:25] kilrau commented on #45
closed by https://github.com/ExchangeUnion/xud-simnet/pull/48

[2019-08-14 12:26] #45 closed

[2019-08-14 12:34] kilrau commented on #47
Exactly crashes in exactly the same way on first run of a fresh, native simnet setup - bumping up to P1

[2019-08-14 12:58] kilrau opened #49 "lnd 0.7.1 stuck with pending channel"
fresh native simnet setup: `lndbtc` and `lndltc` channel opening get triggered instantly. All looks good. `lndltc` gets an active channel after some blocks, but `lndbtc` is stuck with a `"num_pending_channels": 1,` for >30 blocks now.

[lnd.log](https://github.com/ExchangeUnion/xud-simnet/files/3501453/lnd.log)
[lnd.log.3.gz](https://github.com/ExchangeUnion/xud-simnet/files/3501454/lnd.log.3.gz)

[2019-08-14 12:59] kilrau commented on #49
restarting the simnet environment and therefore `lndbtc` fixes it. Channel gets detected as active immediately and all is good.

[2019-08-14 13:58] michael1011 commented on #49
@kilrau After having a quick look at your logs:

When running the new LND version with Neutrino it shows `"synced_to_chain": true,` and allows for channels to be opened although the Neutrino backend hasn't catched up with the chain yet:
[code]

The highest block to which your LND got is `43045` but my synced one is at block `59522`. Once your LND were synced it would have activated that channel.

[2019-08-14 14:25] kilrau commented on #49
But why did restarting lnd fix it immediately (the channel was marked as active immediately after restart)?

[2019-08-14 15:03] michael1011 commented on #49
That is a really good question. I will try to reproduce this behavior and gather more information about what is happening with the Neutrino backend

[2019-08-19 14:49] kilrau commented on #41
I will test this again

[2019-08-22 12:55] kilrau opened #50 "Open PR for our resolver changes against latest raiden develop"

[2019-08-22 12:57] kilrau opened #51 "Keep Raiden logs forever"
Status Quo: only 4 x 2MB logs are being kept

What we want: keep logs forever

Two options according to @lefterisjp:
1. Quick and dirty. Edit the code here:

https://github.com/raiden-network/raiden/blob/90ac744b52be8770191581ce005612c454f06952/raiden/log_config.py#L212-L220

And increase the size of each log and number of rotated files to keep to whatever you want.

2. The above is the debug log

[2019-08-22 14:32] kilrau opened #52 "Retry open raiden channels"
Status Quo: quite often opening channels fails with

[code]

What needs to be done:
1. adjust error message above to ` Could not send`
2. Open issue on raiden side with all possible details (It's definitely not always raiden being offline)
3. Implement retry logic that retries opening a channel once the target raiden client is becoming available again. Best to use raidentransport for that. Opening

[2019-08-23 08:18] kilrau commented on #41
Tested, solved with lnd `0.7.1`. Closing.

[2019-08-23 08:18] #41 closed

[2019-08-23 08:55] kilrau commented on #47
Exactly same crash again, today on first run of a fresh, native simnet setup

[2019-08-23 09:45] kilrau commented on #47
Update: crash happens due to bad resolve request (which is coming out of the blue):

t0
[code]
t1
[code]
t2
[code]
t3
[code]

[2019-08-26 14:09] michael1011 commented on #52
Should be fixed by https://github.com/ExchangeUnion/xud-tests/pull/7/commits/a7dfac8999eac5c8aa9c4bc22f7919c2c63800db and https://github.com/ExchangeUnion/xud-tests/pull/7/commits/cf941d280bfd3d2ff9912588bab4ad140f558417

@kilrau please try creating a new simnet instance and check whether this issue persist.

[2019-08-26 15:53] kilrau commented on #52
Tested on `xud-docker` simnet featuring latest xud master (with resolve request fix): getting no raiden channels at all:

[code]
Raiden is up and running, no log entries regarding channels. Please check on server side, if there's an entry with my address @michael1011

[2019-08-26 15:59] kilrau commented on #52
Native simnet works like a charme.

[2019-08-26 16:22] michael1011 commented on #52
@kilrau your xud-docker setup should have channels: https://discordapp.com/channels/547402601885466658/598158817418805279/615564601882312705

Could your start it up again and check whether there are still not channels?

[2019-08-27 08:17] kilrau commented on #52
Just started it, still no channels:

[code]

[2019-08-28 20:18] kilrau commented on #52
Can you try running a clean `xud-docker` yourself? Still don't get channels.

[2019-08-29 11:25] michael1011 opened #53 "Do not pull updated images when update is declined"
`pull.py` is pulling the latest images but that script is not only invoked when upgrading but also when starting the environment via `setup.sh`

[2019-08-29 13:47] kilrau commented on #53
[code]

[2019-08-29 13:47] kilrau commented on #53
This should be an easy fix @reliveyy

[2019-08-29 14:03] michael1011 commented on #52
This is not a bot issue bot is related to the docker. Closing this in favor of https://github.com/ExchangeUnion/xud-docker/issues/139

[2019-08-29 14:03] #52 closed

[2019-09-05 12:54] offerm commented on #47
@kilrau is this still relevant? I think it can be closed

[2019-09-05 12:57] #47 closed

[2019-09-05 17:06] kilrau commented on #49
Not sure what exactly changed, but since the recent simnet raiden update, `lndbtc`'s pending channel **cannot** be fixed by restarting `lndbtc`. Tested on native simnet and docker simnet.

Logs show `lndbtc` processing crazy amount of blogs, getting filters and pruning blogs. Logs:
[lnd.log.4.gz](https://github.com/ExchangeUnion/xud-simnet/files/3580418/lnd.log.4.gz)
[lnd.log.3.gz](https://github.

[2019-09-05 17:09] kilrau commented on #42
This one is fixed.

[2019-09-05 17:09] #42 closed

[2019-09-05 17:10] kilrau commented on #51
We also would need this one for the bounty.

[2019-09-06 07:41] kilrau commented on #49
Did a couple of more tests with a 100% clean docker setup, sometimes channel becomes active directly as it should, sometimes it takes a very long time, but always changes to active eventually. Restarting lnd does NOT help.

[code]

[lnd.log.10.gz](https://github.com/ExchangeUnion/xud-simnet/files/3582780/lnd.log.10.gz)
[lnd.log.9.gz](https://github.com/ExchangeUnion/xud-simnet/files/3582781/lnd.lo

[2019-09-06 09:39] kilrau commented on #49
Same picture on `xud-simnet` native, after 89 minutes the channel eventually turns active:

[code]

[2019-09-07 09:24] offerm opened #54 "geth mining"
On simnet we have 2 geth instances running (`geth1` and `geth2`) .
The mining script, every 15 seconds, connects to `geth1`, enable mining, disable mining. This way the miner can create a block and stop.

Problems:
1. for some reason the `geth2` is getting into mining mode and is not stopping
2. enable mining, disable mining creates multiple blocks and not just one.

Impact:

current chain size is

[2019-09-07 10:44] kilrau commented on #54
What is geth2 used for? Why not simply bring it down?

[2019-09-19 14:28] kilrau commented on #49
Please send over the patch of the `install.sh` to @reliveyy @offerm

[2019-09-20 12:01] kilrau commented on #49
Here is the patch: https://github.com/ExchangeUnion/xud-simnet/commit/661971f7721c9974c0a1d6edcec74881dd51624d

Lnd simnet images based on that. xud image too.

[2019-10-08 10:39] kilrau opened #56 "xud-simnet-stop can't stop raiden"
[code]

[2019-10-08 13:50] kilrau commented on #28
Raiden channel check not important enough. Closing.

[2019-10-08 13:50] #28 closed

[2019-10-08 13:57] kilrau opened #57 "Raiden multi-hop channels"
https://github.com/raiden-network/raiden-contracts/issues/1216

[2019-10-08 14:12] kilrau commented on #43
Should be an easy fix. Feel free to take over if you have some capa @michael1011

[2019-10-09 17:33] kilrau opened #59 "BTC/DAI buy orders missing"
[code]

[2019-10-28 09:42] kilrau opened #60 "Upgrade to go 1.13"
LND 0.8 requires go 1.13 which is why we should upgrade at some point.

But LTCD fails with go 1.13:
[code]

Doesn't look like https://github.com/ltcsuite/ltcd has any ambitions to be upgraded, so I'd set prio low here and don't spend too much time on it.

My suggestion: stick with go 1.12 for the native simnet setup and we can upgrade to lnd 0.8 with go 1.13 for xud-docker without touching ltcd t

[2019-12-17 17:22] kilrau opened #62 "LTC/BTC orders and others missing"
[code]

[2020-01-10 09:32] kilrau opened #63 "lndltc neutrino"
Dependency: https://github.com/ExchangeUnion/xud-simnet/issues/65

[2020-01-14 11:04] kilrau commented on #62
Fixed.

[2020-01-14 11:04] #62 closed

[2020-01-14 11:09] kilrau commented on #59
Fixed

[2020-01-14 11:09] #59 closed

[2020-01-14 11:12] kilrau commented on #60
Dependency: https://github.com/ExchangeUnion/xud-simnet/issues/63 (getting rid of ltcd), then upgrading shouldn't be an issue.

[2020-01-21 11:41] kilrau commented on #58
Can you move simnet funds? @michael1011

[2020-02-10 15:13] #58 closed

[2020-02-27 22:24] kilrau opened #64 "simnet: ltcd showing `Ready`, but still syncing"
xud-docker

[code]

[2020-02-27 23:03] kilrau commented on #64
Hopefully closed by https://github.com/ExchangeUnion/xud-simnet/issues/63 so we actually don't have a local ltcd anymore

[2020-02-28 11:20] #64 closed

[2020-02-28 11:21] kilrau opened #65 "Upgrade our hosted btcd,ltcd,geth,lndbtc,lndltc,raiden to latest version"
`btcd-simnet` is the instance that hosts btcd,ltcd and geth as well as lnd's & raiden at the moment, which are mining our own simnet chain.

Step 1 would be to update these all to the latest versions (especially https://github.com/ltcsuite/ltcd/releases). We might be running our own fork to make mining the simnet chain possible:
- use https://github.com/ExchangeUnion/raiden/ (don't change anything

[2020-02-28 11:23] #43 closed

[2020-02-28 11:23] #51 closed

[2020-02-28 11:24] #54 closed

[2020-02-28 11:25] #56 closed

[2020-02-28 11:50] kilrau commented on #60
Looks like https://github.com/ltcsuite/ltcd  supports go 1.13 now, so we can update.

[2020-02-28 11:57] kilrau opened #66 "Open channel bot unreliable"
- LND's need to be restarted (sometimes endless times) to reconnect to our hosted LND's to trigger the channel opening
- raiden channels are opened, but no coins pushed

[2020-03-03 18:55] michael1011 commented on #60
Compiling works fine with `go1.13.8`

Closing

[2020-03-03 18:55] #60 closed

[2020-03-03 19:12] kilrau commented on #60
Please upgrade simnet to use `go1.13.8` then @michael1011

[2020-03-03 21:11] michael1011 commented on #65
I updated LTCD to the latest master for #63

[2020-03-05 20:58] #63 closed

[2020-03-09 15:17] LePremierHomme commented on #65
Updates:
* `go` was upgraded to 1.13
* `ltcd` was rebuilt with latest `go`
* `btcd` was upgraded to v0.20.1-beta
* `geth` was upgraded to v1.9.11
* xud2/3 instances got turned off. Reasons: high maintenance effort and connext will not allow multi-hop trades anyways in future
* It was decided not to upgrade LND on xud1 for now

Current issue:
Connecting with `raiden` via simnet setup to `geth` rpc

[2020-03-11 11:57] kilrau opened #68 "Native Simnet Setup: `xud-simnet-stop` not stopping lnd"
[code]

killing lnd processes manually works and environment can be started again.

[2020-03-11 12:39] kilrau commented on #66
I don't get channels at all atm.

[2020-03-11 12:40] kilrau commented on #65
All done, closing.

[2020-03-11 12:40] #65 closed

[2020-03-17 13:59] LePremierHomme commented on #66
Channel opening via LND seems to be working fine.
Closing until someone will experience issues again.

[2020-03-17 13:59] #66 closed

[2020-03-20 18:43] reliveyy opened #73 "Missing ensurepip why installing Python3.7 using deadsnakes repository"
I got an error when running `xud-simnet-install`

[code]

But installing `python3.7-dev` does not solve ensurepip missing problem.

[code]

And the package `python3.7-dev` does not contain module `ensurepip`. I'm afraid the only way to have this `ensurepip` module installed is to compile Python3.7 from the source.

Related to https://github.com/deadsnakes/issues/issues/79

References:
1. [ensurepi

[2020-03-21 03:48] reliveyy commented on #73
Installing Python3.7 from the source solved my issue.

[2020-03-21 03:50] reliveyy commented on #68
I've encounter this issue too

[2020-03-21 04:32] reliveyy opened #75 "Raiden failed to start becuase of sqlite3 missing"
I follow the clean/install/start pattern and reproduce this raiden start failure more than once.

/tmp/raiden.log
[code]

[code]

[code]

[2020-03-21 05:40] reliveyy commented on #75
It's related self-compiled Python3.7 in https://github.com/ExchangeUnion/xud-simnet/issues/73. The missing configure option `--enable-loadable-sqlite-extensions` leads to the error above.

P.S. A full Python3.7 compilation guide on Ubuntu 18.04
[code]
References:
1. [No module named _sqlite3](https://stackoverflow.com/a/24449632/2663029)

[2020-03-21 06:16] reliveyy commented on #73
A better solution is installing `python3.7-venv` instead.

[2020-03-21 07:02] #75 closed

[2020-03-23 12:22] #68 closed

[2020-04-01 15:39] kilrau opened #76 "Fixes"
- reset btcd/ltcd chain
- rewrite open channel bot, take out raiden from setup
- take out raiden from local setup, geth+raiden from xud1.simnet cloud setup
- test with xud-docker simnet setup

[2020-04-02 07:50] michael1011 commented on #76
Actually the raiden changes never made it into the master branch of the channel bot https://github.com/ExchangeUnion/xud-tests/pull/7. But I still think a lot could be improved in the existing codebase of the bot

[2020-04-24 11:12] kilrau opened #77 "Solve: xud1 tor usage/lnd reconnects"
Off-shoot from https://github.com/ExchangeUnion/xud-docker/issues/431 :

100% CPU usage on xud1.simnet.exchangeunion.com caused by tor caused by lnd constantly trying to connect to some old dead peers for no reason. This issue is about preventing lnd reconnects in some way that this doesn't slow down the instance.

[2020-04-24 16:56] kilrau commented on #76
We are more or less done with this.

[2020-04-24 16:56] #76 closed, assigned to sangaman, michael1011

[2020-04-24 16:56] kilrau commented on #73
due to raiden removal not relevant anymore

[2020-04-24 16:56] #73 closed

[2020-04-24 16:59] kilrau opened #78 "lnd neutrino sync time"
Currently we are looking at 15 minutes sync time increase per week (25k blocks) for lndbtc.
Similar for lndltc. We should explore automatically (daily?) adding checkpoints and make neutrino only sync from there to keep sync time below the target of 5 minutes.

[2020-04-24 17:23] kilrau commented on #78
Actually most of us are seeing much longer sync times for the current 22k blocks on btc/ltc. We probably have to dive into that rather sooner than later.

[2020-04-24 17:27] kilrau commented on #78
So for some of us, lnd was doing this (and that's why the sync takes ages):
[code]

[2020-04-24 17:48] raladev commented on #78
Logs of nodes with 10 min sync time:
[logs2.zip](https://github.com/ExchangeUnion/xud-simnet/files/4530601/logs2.zip)
After that I got 1 Active ltc channel and 1 inactive btc channel.

[2020-04-24 18:03] kilrau commented on #78
@reliveyy :
[code]
For me lndltc writes to disk more than 16GB

[code]
for me (@kilrau ) it's 2.x GB each.

That's a good hint. If LND is downloading 16GB of data via tor and then pruning then it makes sense that it takes a while.

[2020-04-24 18:11] sangaman commented on #78
I had that, and then I also am going through all the ~23k blocks with this message:

[code]

It's been roughly 2 hours so far.

[2020-04-27 08:15] kilrau commented on #77
This behavior is gone, looks like setting lnd to `--minbackoff=30s --maxbackoff=24h` helped, even though lnd still tries reconnecting every 10s.

[2020-04-27 08:15] #77 closed, assigned to sangaman, michael1011

[2020-04-27 09:14] reliveyy commented on #78
The lnd blkio output over 1GB is mainly due to `--debuglevel=debug` launching option. I was trying to use `strace` to monitor `write` system call of lnd process and I found it writen to `lnd.log` mostly. But after I set `--debugleve=error` the blkio output of lnd is still ~300M which is still higher than other nodes. @kilrau

[2020-04-27 13:17] reliveyy commented on #78
It took 2:06:06 to get channels for lndbtc and lndltc. And it will take more than 2 hours to be fully synced for sure. Here is part of `pytest -s tests/integration/test_simnet.py` output in project xud-docker:

[code]

[test-simnet.log](https://github.com/ExchangeUnion/xud-simnet/files/4540037/test-simnet.log)

[2020-04-28 03:13] reliveyy commented on #78
@kilrau I've test it on GCP with a new VM instance. The simnet test case finished in 0:14:48 which is your case within 15 minutes. So I believe the syncing time is highly related to the network condition. Our xud1.simnet.exchangeunion.com is in us-central1-a which probably won't have good network connection to everywhere in the world. In order to provide faster syncing time, I would sugguest to ad

[2020-05-15 09:14] #78 closed, assigned to sangaman, reliveyy, michael1011, raladev